.doctorImg {
    /* box-shadow: 6px 14px 28px black; */
    /* border: 5px solid #ffe484; */
}
.doctorImgRight {
    /* border: 5px solid #ffe484; */
    /* box-shadow: -6px 14px 28px black; */
}